
.counter{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.counterInput{
    width:84%;
    height:10em;
    z-index: 10;
    margin: 2em;
    margin-bottom: 0em;

}

.demonstration{
    border: 1px solid black;
}

.maxLength{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3em;
    color: #4e3f31;
    font-weight: bolder;
}

.maxLength div{
    width: 10em;
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
}

.everyChar{
    width: 85%;
    height: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #7a624b;
    color: goldenrod;
    font-size: larger;
    font-weight: bold;
}

.chars{
    margin: .4em;
}